<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Carrito</title>
</head>

<body>

    <%- include('../partials/menu-cliente');%>

        <br>
        <br>
        <br>
        <br>

        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio <br>(Individual)</th>
                        <th>Precio <br>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <%respuesta.forEach((respuesta)=>{%>
                        <form action="/actualizarCarrito" method="post">
                            <tr>
                                <td data-label="descripcion">
                                    <%=respuesta.nombre_producto%>
                                </td>
                                <td data-label="cantidad"><input type="number" name="cantidad" id="cantidad_product"
                                        value="<%=respuesta.cant_producto%>"></td>
                                <td data-label="precio">
                                    <%=respuesta.precio_producto%>
                                </td>
                                <td data-label="precio total">
                                    <%=respuesta.monto_dcarrito%>
                                </td>
                            <tr>
                                <td></td>
                                <td></td><input type="hidden" value="<%=respuesta.id_dcarrito%>" name="id_dcarrito">
                                <td data-label="Fecha de lanzamiento"><a
                                        href="/eliminarCarrito/<%=respuesta.id_dcarrito%>">Eliminar</a> </td>
                                <td data-label="Fecha de lanzamiento"> <input type="submit" value="Actualizar"> </td>
                            </tr>
                            </tr>
                        </form>
                        <%})%>
                </tbody>
            </table>
        </div>
        <div class="container">
            <table class="table">

                <thead>
                    <tr>
                        <th>Datos del cliente</th>
                        <th></th>
                        <th></th>
                        <th>Fecha estimada de entrega</th>

                    </tr>
                </thead>
                <tbody>
                    <form action="/mandarCarrito" method="post">
                        <tr>
                            <td data-label="Consola">Nombre del alumno: <br><br>
                                <%=nombre%>
                            </td>
                            <td data-label="Precio">Boleta/No. Empleado: <br><br>
                                <%=boleta%>
                            </td>
                            <td data-label="Ventas">Telefono:No se</td>
                            <td data-label="Fecha de lanzamiento">Hora de entrega:<input type="time" name="hora_entrega"
                                    id="nom_cliente" value="<%=hora%>"></td>
                        <tr>
                            <td></td>
                            <td></td><input type="hidden" value="<%=id_mcompra%>" name="id_mcompra">
                            <td></td>
                            <td data-label="Fecha de lanzamiento"> <input type="submit" value="Pedir"> </td>
                        </tr>
                        </tr>
                    </form>
                </tbody>
            </table>
        </div>
</body>

</html>