<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Menu</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    
    <%if(tipo==3){%>
        <%- include('../partials/menu-empleado');%>
    <%}else{%>
        <%- include('../partials/menu-admin');%>
    <%}%>
    
    <form action="/crearmenu" method="post">
        <h2>Menu del día</h2>
        
        <input type="text" name="entrada" placeholder="Entrada" value="<%=entrada.nombre_menu%>">
        <textarea name="desc_entrada" id="" placeholder="Descripción de la entrada"><%=entrada.descripcion_menu%></textarea>
        <input type="text" name="img_entrada" placeholder="Agrega el link de tu imagen" value="<%=entrada.imagen_menu%>">
        

        <input type="text" name="plato_fuerte" placeholder="Plato fuerte" value="<%=plato.nombre_menu%>">
        <textarea name="desc_plato" id="" placeholder="Descripción del plato fuerte"><%=plato.descripcion_menu%></textarea>
        <input type="text" name="img_plato" placeholder="Agrega el link de tu imagen" value="<%=plato.imagen_menu%>">


        <input type="text" name="postre" placeholder="Postre" value="<%=postre.nombre_menu%>">
        <textarea name="desc_postre" id="" placeholder="Descripción del postre"><%=postre.descripcion_menu%></textarea>
        <input type="text" name="img_postre" placeholder="Agrega el link de tu imagen" value="<%=postre.imagen_menu%>">


        <input type="text" name="bebida" placeholder="Bebida" value="<%=bebida.nombre_menu%>">
        <textarea name="desc_bebida" id="" placeholder="Descripción del postre"><%=bebida.descripcion_menu%></textarea>
        <input type="text" name="img_bebida" placeholder="Agrega el link de tu imagen" value="<%=bebida.imagen_menu%>">

        <h2>Hora y Precio Menu</h2>
        <input type="number" name="precio_menu" placeholder="Precio (MX)" value="<%=bebida.precio_menu%>">
        <label>Hora inicio</label>
        <input type="time" name="hora_inicio" value="<%=bebida.hora_inicio%>">
        <label>Hora final</label>
        <input type="time" name="hora_final" value="<%=bebida.hora_final%>">

        <input type="submit" value="ENVIAR MENU" id="boton">
    </form>


</body>

</html>