<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Orden</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    
    <%if(tipo==1){%>
        <%- include('../partials/menu-cliente');%>
    <%}else if(tipo==3){%>
        <%- include('../partials/menu-empleado');%>
    <%}else{%>
        <%- include('../partials/menu-admin');%>
    <%}%>

        <br>
        <br>
        <br>

        <section class="contenedor-3">
            <div class="contenedor-3_img">
                
            </div>
            <div class="contenedor-3_text">
                <%respuesta1.forEach((respuesta1)=>{%>
                <h2><%=respuesta1.nombre_producto%></h2>
                <br>
                <h3>Precio por Orden: <%=respuesta1.precio_producto%></h3>
                <br>
                <h3>Estado: Disponible</h3>
                <br>
                <p><%=respuesta1.descripcion%>
                </p>
                <a href='/ordenarProducto/<%=id%>/<%=respuesta1.id_mproducto%>'>Agregar a la cesta</a>
                <%})%>
                
                
            </div>
        </section>

        
</body>
</html>