<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    
    <%- include('../partials/menu-empleado');%>

    <%respuesta.forEach((respuesta)=>{%>
    <form action="/editarProducto" method="post">
        <h2>Editar "<%=respuesta.nombre_producto%>"</h2>
        <input type="text" name="nom_producto" placeholder="Nombre del producto" value="<%=respuesta.nombre_producto%>">
        <input type="number" name="precio_producto" placeholder="Precio del producto" value="<%=respuesta.precio_producto%>">
        <textarea name="desc_producto" id="" placeholder="Descripción del producto" ><%=respuesta.descripcion%></textarea>
        <label>Tipo Producto</label><br><br>
        <select name="tipo_producto" id="">
            <option value="<%=respuesta.id_csubproducto%>"><%=respuesta.tipo_csubproducto%></option>
            <%respuesta1.forEach((respuesta1)=>{%>
            <option value="<%=respuesta1.id_csubproducto%>"><%=respuesta1.tipo_csubproducto%></option>
            <%})%>
        </select>
        <br><br>
        <textarea name="link_imagen" id="" placeholder="Ingresa el link de tu imagen" ><%=respuesta.imagen%></textarea>
        <input type="hidden" value="<%=respuesta.id_mproducto%>" name="id_mproducto">

        <input type="submit" value="ENVIAR" id="boton">
    </form>
    <%})%>

</body>

</html>