<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de pedidos</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
 
    <%if(tipo==1){%>
        <%- include('../partials/menu-cliente');%>
            <%}else if(tipo==3){%>
                <%- include('../partials/menu-empleado');%>
                    <%}else{%>
                        <%- include('../partials/menu-admin');%>
                            <%}%>


    <h1>Historial de pedidos</h1>
    <br>
    <br>
    <br>
    <br>

    <table class="table">  
        <thead>
            <tr>
                <th>Fecha del Pedido</th>
                <th>Hora de Entrega</th>
                <th>Monto Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%respuesta.forEach((respuesta)=>{%>
            <tr>
                <td data-label="Fecha"><%=respuesta.fecha_mcompra%></td>
                <td data-label="Estado"><%=respuesta.hora_entrega%></td>
                <td data-label="cant_product">$ <%=respuesta.monto_mcompra%></td>
                <td data-label="precio_total"> <a href="/detallePedidoAdmin/<%=respuesta.id_mcompra%>">DETALLES</a> </td>
            </tr>
            <%})%>
        </tbody>
    </table>
    
</body>
</html>