<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu del día</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <%if(tipo==1){%>
        <%- include('../partials/menu-cliente');%>
    <%}else{%>
        <%- include('../partials/menu-empleado');%>
    <%}%>

    <div class="page-nav">
        <h1>Menu del día</h1>
        <button id="checkout" class="button-checkout">Carrito</button>
    </div>
    <div class="container_cards">
        <div class="card">
            <figure>
                <img src="images/crema-de-frijol-y-chipotle.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Entrada</h3>
                <p>
                    <%=entrada.nombre_menu%>: <%=entrada.descripcion_menu%>.
                </p>

            </div>
        </div>
        <div class="card">
            <figure>
                <img src="images/alambre.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Plato fuerte</h3>
                <p>
                    <%=plato.nombre_menu%>: <%=plato.descripcion_menu%>.
                </p>

            </div>
        </div>

    </div>
    <div class="container_cards">
        <div class="card">
            <figure>
                <img src="images/Receta-flan-napolitano.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Postre</h3>
                <p>
                    <%=postre.nombre_menu%>: <%=postre.descripcion_menu%>.
                </p>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="images/4.-agua-de-jamaica-1a.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Bebida</h3>
                <p>
                    <%=bebida.nombre_menu%>: <%=bebida.descripcion_menu%>.
                </p>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="images/precio.png" alt="">
            </figure>
            <div class="contenido">
                <h3>Precio y horario</h3>
                <p>Precio total: <%=plato.precio_menu%>
                </p>
                <p> Disponible: <%=plato.hora_inicio%> a <%=plato.hora_final%> del día </p>
                <%if(tipo==1){%>
                    <a href="/ordenarMenu/<%=id%>/<%=bebida.id_mmenudia%>">Pedir ahora</a>
                <%}else{%>
                <%}%>
                
            </div>
        </div>
    </div>
                
</body>

</html>