<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Ordenes</title>
</head>

<body>

    <%if(tipo==3){%>
        <%- include('../partials/menu-empleado');%>
    <%}else{%>
        <%- include('../partials/menu-admin');%>
    <%}%>

        <br>
        <br>
        <br>
        <br>

        <%respuesta.forEach((respuesta)=>{%>

            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio <br>(Individual)</th>
                            <th>Precio <br>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%respuesta1.forEach((respuesta1)=>{
                            if(respuesta1.id_mcompra==respuesta.id_mcompra){%>
                            <tr>
                                <td data-label="descripcion">
                                    <%=respuesta1.nombre_producto%>
                                </td>
                                <td data-label="cantidad">
                                    <%=respuesta1.cant_producto%>
                                </td>
                                <td data-label="precio">
                                    <%=respuesta1.precio_producto%>
                                </td>
                                <td data-label="precio total">
                                    <%=respuesta1.monto_dcarrito%>
                                </td>
                            </tr>
                            <%}else{ } })%>
                    </tbody>
                </table>
            </div>
            <div class="container">
                <table class="table">

                    <thead>
                        <tr>
                            <th>Datos del pedido</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Consola">Nombre cliente: <br><br>
                                <%=respuesta.nombre_persona%>
                            </td>
                            <td data-label="Precio">Boleta/No. Empleado: <br><br>
                                <%=respuesta.boleta%>
                            </td>
                            <td data-label="Ventas">Teléfono: <br><br>
                                <%=respuesta.celular%>
                            </td>
                            <td data-label="Fecha de lanzamiento">Hora de entrega: <br><br>
                                <%=respuesta.hora_entrega%>
                        <tr>
                            <td></td>
                            <td></td>
                            <td data-label="Fecha de lanzamiento"> <a href="">CANCELAR</a> </td>
                            <td data-label="Fecha de lanzamiento"> <a href="/finalizarPedido/<%=respuesta.id_mcompra%>/<%=respuesta.id_musuario%>">FINALIZADO</a> </td>
                        </tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br><br><br><br>
            <%})%>
</body>

</html>